header{
    background-color: bisque;
}
h1{
    text-align: center;
}
body{
    font-family: sans-serif;
}
a{
    background-color: honeydew;
    border: solid 2px gray;
    color: black;
}
header{
    text-align: center;
}
main{
    background-color: bisque;
}
h3{
    background-color: gold;
}
h2{
    text-align: center;
}
footer{
    background-color: bisque;
}